/* defoult css */
img {
    max-width: 100%;
}
.headersection .container-fluid , .slaider-option .container-fluid {
    max-width: 1400px;
}
body{
    overflow-x: hidden;
}
/* header item */
.header-item img {
    width: 125px;
    height: auto;
}

.header-item {
    background-color: #ddd;
}
.header-item ul li a {
    text-decoration: none;
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    color: #111;

}
.header-item ul{
    position: relative;
    box-sizing: border-box;
}
.slider-right-img{
    position: relative;
    margin-bottom: -122px;
}

.header-item ul::after {
    content: "";
    left: 12px;
    height: 4px;
    width: 33px;
    background: #0a38ee;
    position: absolute;
    top: 200%;
    transition: .7s;
    border-radius: 10px; 
}

.header-item ul .active:nth-child(1) {
    color: #0a38ee;
}

.header-item ul li {
    position: relative;
    list-style: none;
}

.header-item ul li ul {
    position: absolute;
    left: 0;
    top: 205%;
    width: 250px;
    padding: 13px 20px;
    background-color: #fff;
    box-shadow: 7px -6px 48px -22px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.header-item ul li ul::after {
    content: "";
    top: -11px;
    left: 13px;
    background-color: rgb(51, 51, 217);
    border-radius: 10px;

    width: 33px;
    display: block;
}

.header-item ul li:hover>ul {
    visibility: visible;
    opacity: 1;


}

.header-item ul li ul li a {
    background-color: blue;

    padding: 7px 42px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: block;
}

.botton-item a {
    padding: 10px 37px;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: blue;
    font-weight: 500;
    font-size: 18px;
    border-radius: 66px;
    transition: .5s;
}


.botton-item a:hover {
    background-color: #0000ff85 !important;
    border-radius: 66px !important;
    border-color: #0000ff1c !important;
    color: #fafafa;
}

/* slaider-option */
.slaider-option {
    background-color: #f6f9fc;
}

.slaider-text {
    margin-top: 160px;
}

.slaider-option h1 {
    margin-bottom: 35px;
    width: 420px;
    font-size: 41px;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
}

.slaider-option p {
    font-size: 16px;
    width: 559px;
    margin-bottom: 40px;
    font-family: 'Spartan', sans-serif;
}

.bottom-item a {
    padding: 14px 41px;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
}
.bottom-item a:hover{
    background-color:#20ad96db !important;
    border-color: #20ad96;
}

.slider-right-img img {
    border-radius: 49% 46% 45% 49%;
    height: 800px;
    width: 800px;
    position: relative;
    top: -173px;
    left: 122px;
    right: 0;

}
/* about-section */
.about-section{
    background-color: #ffffff;
}
.about-section span{
    color: #3763eb;
    font-weight: 500;
    font-size: 18px;
}
.about-section h3{
    font-size: 46px;
    font-weight: 600;
    color: #111;
    margin-bottom: 40px;
    position: relative;
}
.about-section h3::after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 10%;
    height: 2%;
    background-color: #3763eb;
}
.about-section p{
    color: #606060;
    font-size: 20px;
    font-weight: 300;
}
/* service-section */
.service-item{
    border-radius: 10px;
    transition: .5s;
    background-color: #f6f9fc;
}
.service-item h3{
    font-size: 26px;
    color: #111;
    font-weight: 600;
}
.service-item span{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #3763eb;
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    border-radius: 50px 50px 50px 0;
    margin-top: 15px;
}
.service-item:hover span{
    color: #3763eb;
    background-color: #fff;
}
.service-item:hover span::after{
    background-color: #fff;
    width: 100%;
}
.service-item span::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 55%;
    height: 2%;
    background-color: #3763eb;
    transition: .5s;
}
.service-item:hover .service-item span{
    background-color: #fff;
    width: 100%;
}
.service-item p{
    color: #606060;
    font-size: 18px;
    font-weight: 500;
}
.service-item:hover.service-item p{
    color: #fff !important;
}
.service-section{
    background-image: url(https://i.ibb.co/T0ypvW7/service-patern.png);
    background-repeat: no-repeat;
    background-position: 5% 100%;
}
.service-item:hover{
    transform: translateY(-10px);
    background-color: #3763eb;
}
/* experience-section */
.experience-section{
    margin-top: 40px;
    background-image: url(https://i.ibb.co/ygJvQhT/video-bg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgb(38, 42, 51);
    height: 730px;
    background-position: top;
}
.vedio-content{
    padding-top: 145px;
}
.vedio-content span{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}
.vedio-content h1{
    color: #fff;
    font-weight: 600;
    font-size: 50px;
    position: relative;

}
.vedio-content p{
    color: #fff;
    /*! font-size: 1.2rem; */
    /*! line-height: 2.4rem; */
    font-weight: 300;
    font-size: 21px;
    margin-top: 32px;
}
.vedio-content h1::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #fff;
    left: 46%;
    bottom: -9px;

}
/* play-botton */
.play-botton a{
    font-size: 14px;
    height: 90px;
    width: 90px;
    background-color: #fff;
    color:#3763eb !important ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: .4s;
}
.play-botton a::after,.play-botton a::before{
    content: "";
    height: 90px;
    width: 90px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
    animation-timing-function: linear;
}
.play-botton{
    margin-top: 90px;

}
.play-botton a:hover{
    background-color: #3763eb80;
    color: #fff !important;
}


.play-botton a::before{
    animation-delay: .2s;
}

@keyframes animate{
   0%{
     transform: scale(0);
   }

   50%{
       opacity: 0;
       background: transparent;
   }
   80%{
       opacity: 1;
       border: 1 px so;
   }

   100%{
      transform: scale(1.6);
   }

}
/* pricing-table-section */
.pricing-table-section{
    background-color: #f6f9fc;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hedaer-table-content p{
    max-width: 600px;
    margin: auto;
  
    color: #606060;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 60px;
}
.hedaer-table-content h2::after{
    content: "";
    position: absolute;
    top: 130%;
    left: 48%;
    height: 2px;
    width: 35px;
    background-color: #6f90f1;
}
.hedaer-table-content span{
    color: #6f90f1;
    margin-bottom: 10px;
    display: inline-block;
}

.hedaer-table-content h2{
    position: relative;

    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
/* pricing-table */
.pricing-table{
    background-color:#ffffff ;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    transition: .4s;
}
.pricing-table:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.pricing-table h4{

    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.pricing-table h2{

    font-weight: 600;
}
.pricing-table span{
    color: #606060;
    position: relative;
}
.pricing-table span::after{
    content: "";
    position: absolute;
    top: 220%;
    left: -50px;
    width: 180px;
    height: 2px;
    border-radius: 50%;
    background-color: #ddd;
    margin: auto;
}
.pricing-table ul{
    list-style: none;
    margin-top: 80px;

}
.pricing-table ul li{

    color: #606060;
    margin-bottom: 10px;
}
.pricing-table button{
    margin-top: 15px;
}
.table-baton{
    padding: 14px 41px;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    background-color: #3763eb;
    color: #fff;
    border: none !important;
    
}
.table-baton:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    color: #6278df;
    background-color: #fff;

}
/* user-section */
.user-section{
    background-image: url(https://i.ibb.co/19jCcs7/free-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 800px;
    background-color: rgba(74, 92, 237, 0.86);
    text-align: center;
}
.user-content-section span{
    margin-top: 165px;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}
.user-content-section h1{
    font-size: 42px;
    max-width: 600px;
    margin: auto;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    position: relative;
    font-weight: 600;
}
.user-content-section p{

    margin-top: 45px !important;
    max-width: 600px;
    margin: auto;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.user-content-section .user-baton{
    margin-top: 50px;
    padding: 14px 41px;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    background-color: #fff;
    color:#3763eb ;
    border: none !important;
}
.user-content-section .user-baton:hover{
    color: #fff;
    background-color:#3763eb  ;
}
.user-content-section h1::after{
    content: "";
    height: 2px;
    width: 50px;
    left: 45%;
    top: 118%;
    background-color:#fff ;
    position: absolute;
}
/* frre-section */

.newsletter-section {
    padding: 100px 0;
    background: #f6f9fc;
  }
  
  .newsletter-section .newsltr-form {
    background: #3763eb;
    padding: 40px 30px;
    border-radius: 6px;
  }
  
  .newsletter-section .newsltr-form h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
  }
  
  .newsletter-section .newsltr-form p {
    color: #ffffff;
    width: 38%;
    font-size: 15px;
    margin: 20px 0;
    margin-bottom: 45px;
  }
  
  .newsletter-section .newsltr-form .form {}
  
  .newsletter-section .newsltr-form .form form {
    margin-bottom: 30px;
  }
  
  .newsletter-section .newsltr-form .form input[type="email"] {
    padding: 18px 32px;
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    outline: none;
  }
  
  .newsletter-section .newsltr-form .form form button {
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 18px 50px;
    margin-left: 20px;
    color: #fff;
    font-weight: 600;
    transition: .5s;
  }
  
  .newsletter-section .newsltr-form .form form button:hover {
    color: #3763eb;
    background-color: #fff;
  }
  
  .newsletter-section .news-box {
    background: #fff;
    box-shadow: 0 0 20px 5px #0000001c;
    padding: 30px;
  }
  
  .newsletter-section .news-box h4 {
    width: 84%;
    font-weight: 600;
    font-size: 22px;
  }
  
  .newsletter-section .news-box p {
    color: gray;
    margin: 27px 0;
  }
  
  .newsletter-section .news-box .box-btn {}
  
  .newsletter-section .news-box .box-btn a {
    background: #3763eb;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 31px;
    border-radius: 30px;
    display: inline-block;
    margin: 9px 0;
    transition: .5s;
    border: 1px solid transparent;
    text-decoration: none;
  }
  
  .newsletter-section .news-box .box-btn a:hover {
    color: #3763eb;
    background-color: #fff;
    border: 1px solid #3763eb;
  }
  
  .client-section {
    /*! padding: 92px 0; */
    padding-top: 100px;
    padding-bottom: 60px;
  }
  
  .client-section .client-content {}
  
  .client-section .client-content span {
    color: #3763eb;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .client-section .client-content h1 {
    color: #081828;
    font-weight: 600;
    font-size: 39px;
    position: relative;
    width: 76%;
  }
  
  .client-section .client-content h1::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 7px;
    width: 11%;
    height: 2px;
    background-color: #3763eb;
  
  }
  
  .client-section .client-content p {
    color: gray;
    font-size: 16px;
    margin: 30px 0;
    width: 60%;
  }
  
  .client-section .client-img {
  }
  
  .client-section .client-img table {}
  
  .client-section .client-img table tbody,tr,td{
    border: 1px solid #716f6f6b !important;
  }
  
  .client-section .client-img table tr td {
  
    padding: 23px;
    transition: .4s;
  }
  .client-section .client-img table tr td:hover{
      background-color: #f6f9fc;
  }
  
  .client-section .client-img table tr td img {
    opacity: .4;
    transition: .4s ease-in-out;
  }
  
  .client-section .client-img table tr td:hover img {
    opacity: 1;
  }
/* news section */
.news-section{
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: #f6f9fc;
}
.blog-picture img{
    max-width: 100%;
    border-radius: 7px;
}
.blog-picture{
    position: relative;
}
.blog-section{
    overflow: hidden;
}
.divpicture img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 5px;
   
}
.divpicture{
    background-color: #3763eb;
    width: 180px;
    height: 44px;
    border-radius: 30px;
    position: absolute;
    right: 24px;
    bottom: 28px;
    line-height: 43px;
    transform: translateX(226px);
    transition: .5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
 
}
.divpicture p{
    margin-left: 10px;
    font-size: 13.5px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.blog-content{

}
.blog-section:hover .divpicture{
    transform: translateX(0);
    z-index: 99;
}
.blog-picture::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #3764eb55;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: .7s;
    border-radius: .25rem;
}
.blog-picture:hover::after{
    transform: scale(1);
}
.blog-content h3{
    margin-top: 25px;
    font-weight: 600;
    font-size: 25px;
    transition: .4s;
}
.blog-content h3:hover{
    color:#3763eb;
}
.blog-content p{
    color: #00000096;
    margin-top: 15px;
    font-size: 18px;
}/* footer */
.footer-section{
    background-color: #081828;
    color: #fff;
}
.footer-section .footer-top{
    padding-top: 100px;
    padding-bottom: 55px;
}
.footer-section .footer-top .footer-widget{}
.footer-widget img{
    margin-bottom: 25px;
    width: 143px;
}
.footer-widget p{
    line-height: 1.8;
    font-size: 17px;
    font-weight: 400;}
.widget-social ul{
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
    list-style: none;
}
.widget-social ul li{
    display: inline-block;
    color: #fff !important;
    margin-right: 20px;
}
.widget-social ul li a{
    text-decoration: none;
    color: #fff !important;
    display: inline-block;
    transition: .4s;
}
.widget-social ul li a:hover{
    color: #3763eb !important;
}
.footer-widget h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 22px;
    position: relative;
}
.footer-widget h3::before{
    content: "";
    height: 30px;
    width: 4px;
    background-color: #3763eb;
    position: absolute;
    top: -2px;
    left: -10px;
}
.footer-widget ul{
    list-style: none;
    padding-left: 0;
    padding-top: 18px;
}
.footer-widget ul li{
    margin-bottom: 18px;
    color: #fff;
    transition: .5s;
}
.footer-widget ul li a{
    text-decoration: none;
    color: #fff;
    transition: .4s;
    color: #c2b6b6;
}
.footer-widget ul li a:hover{
    color: #3763eb;
    letter-spacing: 1px;
}
.foter-content a:hover{
    color: #3763eb;
}
.foter-icon p{
    
}
/* footer-botom */
.footer-botom{
    border-top: 1px solid #292929;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer-botom p{
    line-height: 1.8;
    color: #606060;
    font-weight: 400;
    font-size: 16px;
}
.footer-botom p a{
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: .4s;
}
.footer-botom p a:hover{
    color: #3763eb;
}

/* End */
